.display{
    display: flex;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;    
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}


.produtoBack{
    width: 100%;
    position: relative;
}

.produtoReg{
    display: flex;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.produtoAtr{
    flex-direction: column;
    display: flex;
    align-content: space-around;
    margin: 10px;
    width: auto;
}

.produtoLabel{
    margin: 2px;
    font-size: 1.5em;
}

.produtoButton{
    max-width: 250px;
    width: 250px;
    height: 55px ;
    background-color: transparent;
    border: 5px solid #94DBFC;
    box-sizing: border-box;
    border-radius: 20px;
    color: #E6E6E6;
    
}

