.sec-admin{
    width: 100%;
    height: 500px;
}
.titulo-admin {
    display: flex;
    justify-content: center;
}

.title-pg{
    font-family: Roboto;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    text-transform: uppercase;
}

.botoes-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.btn-admin{
    border-radius: 0px;
    color:#3333;
    
}