
.btnAdmin{
    background-color: transparent;
    font-family: Roboto;
    font-size: 18px;
    border: 3px solid #198CFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: #198CFF;
    width: 300px;
    height: 50px;
    margin: 5px;
}

.btnAdmin:hover {
    color: #fafafa;
    background-color: #198CFF;
    border: 3px solid #198CFF;
    box-sizing: border-box;
}

.botoes-admin{
    margin-top: 60px;
}
