.button{
    border: 5px solid rgba(255, 64, 51, 0.9);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #F9FCFD;
    text-decoration: none;
}

.button:hover{
    background-color: #020823;
    color: #F9FCFD;
    text-decoration: none;

}