.buttonAdmin{
    border: 3px solid #198CFF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #020823;
    max-width: 422px;
    width: 100%;
    height: 60px;
}

.buttonAdmin:hover{
    background-color: #198CFF;
    color: #F9FCFD;

}