.display{
    display: flex;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;    
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}


.voteFormBack{
    width: 100%;
    position: relative;
}

.voteFormReg{
    display: flex;
    color: #fafafa;
    justify-content: center;
}

.voteFormAtr{
    flex-direction: column;
    display: flex;
    align-content: space-around;
    margin: 10px;
}

.voteFormLabel{
    margin: 2px;
    font-size: 1em;
}

.voteFormButton{
    max-width: 250px;
    width: 250px;
    height: 55px ;
    background-color: transparent;
    border: 5px solid #94DBFC;
    box-sizing: border-box;
    border-radius: 20px;
    color: #E6E6E6;
    
}

.voteFormRemovButton{
    max-width: 250px;
    width: 250px;
    height: 55px ;
    background-color: transparent;
    border: 5px solid rgba(255, 64, 51, 0.9);
    box-sizing: border-box;
    border-radius: 20px;
    color: #E6E6E6;
    
}


.maxDateBack{
    width: 100%;
    position: relative;
}

.maxDateReg{
    display: flex;
    color: #fafafa;
    justify-content: center;
}

.maxDateAtr{
    flex-direction: column;
    display: flex;
    align-content: space-around;
    margin: 10px;
}

.maxDateLabel{
    margin: 2px;
    font-size: 1em;
}

.maxDateButton{
    max-width: 250px;
    width: 250px;
    height: 55px ;
    background-color: transparent;
    border: 5px solid #94DBFC;
    box-sizing: border-box;
    border-radius: 20px;
    color: #E6E6E6;
    
}

.maxDateRemovButton{
    max-width: 250px;
    width: 250px;
    height: 55px ;
    background-color: transparent;
    border: 5px solid rgba(255, 64, 51, 0.9);
    box-sizing: border-box;
    border-radius: 20px;
    color: #E6E6E6;
    
}
