.footer {
    background-color: #76BAE0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.footerElem{
    margin: 15px 10px;
}

.footerElemDir{
    display: flex;
    margin: 15px 10px;
    max-width: 300px ;
    width: 100%;
    justify-content: space-around;

}
