.sec-form{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.sec-form h1{
    text-align:center;
    font-size: 3em;
    padding: 30px 0;
    font-weight: bold;
}
.sec-form .formContainer{
    width: 100%;
    max-width: 1140px;
    margin: 20px auto;
    padding: 30px 10px;
    background-color: #020823;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
.sec-form .formContainer label,li{
    color: #fafafa;
}

.sec-form .formContainer .form{
    display: flex;
    flex-direction: column;
}
.sec-form .formContainer .form div{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.sec-form form button{
    align-self: center;
    width: 200px;
    color: #fafafa;
    background: none;
    box-sizing: border-box;
    border: 1px solid #fef8f8;
}
.sec-form form input,select,textarea{
    background-color: #feeff0;
}
.buttonDates{
    justify-self: center;
    margin: 30px 0;
    color: #fafafa;
    background: none;
    box-sizing: border-box;
    border: 1px solid #fef8f8;
}

