.gerenciadorBack{
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #020823;
    align-items: center;
}

.gerenciadorDiv{
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

.gerenciadorDiv p {
    font-size: 1.5em;
    color: #fafafa;
}