header{
    background-color: #198CFF;
    width: 100%;
    position: relative;
    height: 170px ;
    

}

header .menu{
    padding-left: 10px;
}

header li{
    list-style-type: none;
    padding-right: 10px;
}

.loboLogo{
    position: absolute;
    left: 50%;
    margin: 10px 0;
}



.end{
    align-items: flex-end;
}

.margin{
    margin: 40px;
}

.display{
    display: flex;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;    
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.container{
    margin: 10px;
}

@media only screen and (max-width: 1255px) {
    
    .navega ul{display: none;}

}