.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 487px;
    background: #020823;
}

.titulo_sec1{
    font-family: CantoraOne;
    font-size: 50px;
    line-height: 70px;
    color: #FEF8F8;
    text-align: center;
}

.content2{
    width: 1238px;
    height: 170px;

}

.texto {
    font-family: Vidaloka;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FEF8F8;
}

.sec2{
    width: 100%;
    height: 330px;
    background: #FEF8F8;
}

.titulo_sec2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin: 20px 0;
}

.linha-vertical {
    height: 500px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #000000;
}

.segundo-conteudo{
    width: 1236;
    height: 90;
    display: flex;
    justify-content: center;
  
    
}
.content_info{
    width: 589px;
    height: 60px;
}

.content_info p{
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
}

.linha-vertical {
    height: 150px;/*Altura da linha*/
    border-right: 1px solid #000000;
    margin-left: 10px;
    margin-right: 39px;
  }

.texto2 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #000000;
}

.destaque {
    font-family: Roboto;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}

.local-info{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.mapa{
    margin-bottom: 20px;
}
.endereco{
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}