.sec-login{
    width: 100%;
    height: 500px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.item {
    display: flex;
    flex-direction: column;
   
}
.input{
    width: 313px;
    height: 30px;
    border-radius: 0px;
}

.titulo-login{
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
   
}

.item .titulo-login {
    color: #fafafa
}

.bg{
    display: flex;
    justify-content: space-around;
    background-color: #020823;
    width: 686px;
    height: 349px;
    margin-bottom: 30px;
}

.bg-content{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.botao{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
    
}

.login-btn{
    border-radius: 0px;
    background-color: transparent;
    font-family: Roboto;
    border: 1px solid #FEF8F8;
    box-sizing: border-box;
    padding: 4px;
    color: #FEF8F8;
}

.titulo-pagina {
    font-family: Roboto;
    font-weight: bold;
    font-size: 4em;
    line-height: 75px;
    margin-bottom: 10px;
}

.link{
    
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: #FEF8F8;
}