.display{
    display: flex;
}

.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;    
}

.spaceAround{
    justify-content: space-around;
}

.center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}


.formBack{
    max-width: 700px;
    width: 100%;
    max-height:500px ;
    height: 100%;
    position: relative;
}

.formReg{
    background-color: #020823;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    position: relative;
}

.formAtr{
    flex-direction: column;
    display: flex;
    align-content: space-around;
    margin: 10px;
    max-width: 313px;
    width: 100%;
}

.formButton{
    width: 84px;
    height: 46px;
    left: 563px;
    top: 709px;
    background-color: transparent;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    color: #E6E6E6;
}