/* .sec_viewForm{
    min-height: 400px;
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec_viewForm ul{
    margin: 30px 0;
}
.sec_viewForm li{
    background-color: #020823;
    color: #94DBFC;
    padding: 20px
}   
.sec_viewForm li:nth-child(2n){
    background-color: #94DBFC;
    color: #020823;                                
} */
.ulImutavel{
    justify-self: center;
    width: 1040px;
    max-width: 100%;
    margin: 20px auto;
}
.liImutavel{
    background-color: #020823;
    color: #94DBFC;
}
.liImutavel:nth-child(2n){
    background-color: #94DBFC;
    color: #020823; 
}